@charset "UTF-8";
html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

/* chtěla jsem ještě rozdělit na menší části, aby bylo přehlednější, mám v plánu dodělat*/
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-size: 12px;
}

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/images/background/background_header2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  padding-top: 60px;
  padding-right: 10%;
  padding-left: calc(10% - 37.5px);
  padding-bottom: 120px;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 100vh;
}
.header__logo {
  min-height: 60px;
  max-height: 100px;
  align-self: start;
}
.header__title {
  font-weight: 200;
  margin: 0;
  font-size: 25px;
  text-align: right;
  position: relative;
}
.header__title::after {
  content: "";
  position: absolute;
  left: calc(100% - 60px);
  display: inline-block;
  height: 1px;
  width: 60px;
  background: rgb(237, 17, 138);
  bottom: -8px;
}
.header__text {
  align-self: end;
}
.header__content {
  font-weight: 200;
  margin: 0;
  margin-top: 20px;
  font-size: 16px;
  text-align: right;
  color: #D5D7D5;
}

@media screen and (min-width: 500px) {
  .header {
    padding-left: calc(10% - 30px);
  }
  .header__logo {
    max-height: 125px;
  }
  .header__title {
    font-size: 35px;
  }
  .header__title::after {
    left: calc(100% - 80px);
    height: 1px;
    width: 80px;
  }
  .header__content {
    font-size: 20px;
  }
}
.menu {
  font-size: 11px;
  text-transform: uppercase;
}
.menu__list {
  display: flex;
  margin: 0;
  padding: 0 5%;
  justify-content: space-between;
  background-color: #141514;
}
.menu__item {
  padding: 10px 4px;
  list-style: none;
}
.menu__item a {
  text-decoration: none;
  color: white;
  padding: 10px 4px;
}
.menu__item a:active {
  background-color: rgb(237, 17, 138);
}

@media screen and (min-width: 500px) {
  .menu {
    font-size: 14px;
  }
  .menu__list {
    padding: 0 10%;
  }
  .menu__item {
    padding: 7.5px;
    list-style: none;
  }
  .menu__item a {
    text-decoration: none;
    color: white;
    padding: 7.5px;
  }
  .menu__item a:hover {
    background-color: rgb(237, 17, 138);
  }
}
@media screen and (min-width: 800px) {
  .menu {
    font-size: 18px;
  }
  .menu__item {
    padding: 10px 15px;
  }
  .menu__item a {
    padding: 10px 15px;
  }
}
.footer {
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(#ffffff, #636365);
  padding: 0 10%;
  color: white;
  font-weight: 200;
}
.footer__icon {
  height: 35px;
}
.footer__icon--spread + .footer__icon--spread {
  margin-left: 5%;
}
.footer__icons {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
}
.footer__icons :active {
  transform: scale(1.1);
}
.footer__credit {
  text-align: center;
  padding-bottom: 50px;
  font-size: 12px;
}

@media screen and (min-width: 500px) {
  .footer__icons :hover {
    transform: scale(1.1);
  }
  .footer__credit {
    font-size: 15px;
  }
}
.contact {
  background-image: url(/images/background/background_site2.jpeg);
  background-repeat: no-repeat;
  background-position: top left;
  padding: 30px 10%;
  position: relative;
}
.contact__title {
  margin: 0;
  text-align: center;
  font-size: 22px;
}
.contact__first {
  display: flex;
  flex-direction: column;
}
.contact__opening {
  flex-basis: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.contact__opening-heading {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}
.contact__opening-day {
  padding-right: 15px;
}
.contact__location {
  margin-left: auto;
  margin-right: auto;
}
.contact__location-heading {
  margin-top: 0;
  margin-bottom: 8px;
  text-align: center;
}
.contact__location-text {
  line-height: 1.2;
  text-align: center;
}
.contact__form {
  width: 100%;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}
.contact__item-label {
  display: block;
}
.contact__item-label + .contact__item-label {
  margin-top: 10px;
}
.contact__reservation {
  padding: 30px 10%;
}
.contact__form-item {
  display: block;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  margin-top: 5px;
  width: 100%;
}
.contact__form-item--font {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}
.contact__checkbox, .contact .contact__check-label {
  margin-top: 20px;
}
.contact__button {
  display: block;
  margin-top: 25px;
  background-color: rgb(54, 49, 131);
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  border-radius: 5px;
  border: none;
  padding: 5px 8px;
  color: white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 500px) {
  .contact__first {
    flex-direction: row;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    max-width: 1400px;
  }
}
.sentform {
  padding: 30px 5%;
  background-image: url(/images/background/background_site.jpeg);
  background-repeat: no-repeat;
  background-position: top left;
  text-align: center;
}
.sentform__heading {
  font-size: 22px;
}
.sentform__grid {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, auto);
  gap: 5px;
}
.sentform__grid img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sentform__photo3 {
  grid-row: 2/4;
}
.sentform__photo6 {
  grid-row: 3;
  grid-column: 2;
}
.sentform__button {
  text-decoration: none;
  color: white;
  border: 1px solid rgb(51, 51, 51);
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}

@media screen and (min-width: 500px) {
  .sentform {
    padding: 30px 10%;
    font-size: 13px;
  }
  .sentform__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
  }
  .sentform__photo3 {
    grid-row: auto;
  }
  .sentform__photo6 {
    grid-row: auto;
    grid-column: auto;
  }
}
@media screen and (min-width: 800px) {
  .sentform__grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 300px);
  }
  .sentform__photo3 {
    grid-row: 1/3;
    grid-column: 4;
  }
  .sentform__photo6 {
    grid-row: 3;
    grid-column: 1/3;
  }
  .sentform__photo2 {
    grid-row: 1;
    grid-column: 2/4;
  }
  .sentform__photo9 {
    grid-row: 2;
    grid-column: 1;
  }
}
.site__gin {
  background-image: url(/images/background/background_site.jpeg);
  background-repeat: no-repeat;
  background-position: top left;
  position: relative;
  text-align: justify;
}

.gin {
  padding: 30px 5% 15px 5%;
}
.gin__header {
  margin-top: 0;
  font-size: 22px;
}
.gin__images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 150px);
  gap: 5px;
  padding-top: 10px;
}
.gin__images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.gin__image2 {
  grid-column: 3;
  grid-row: 1/3;
}

.tonic {
  padding: 15px 5%;
}
.tonic__header {
  margin-top: 0;
  font-size: 22px;
}
.tonic__images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 250px 150px;
  gap: 5px;
}
.tonic__images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.tonic__image3 {
  grid-row: 2;
  grid-column: 1/-1;
}

.other {
  padding: 15px 5%;
}
.other__header {
  margin-top: 0;
  font-size: 22px;
}
.other__images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 250px;
  gap: 5px;
}
.other__images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.tapas {
  padding: 30px 5% 15px 5%;
}
.tapas__header {
  margin-top: 0;
  font-size: 22px;
}
.tapas__images {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 200px);
  gap: 5px;
}
.tapas__images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

@media screen and (min-width: 500px) {
  .gin {
    display: flex;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    gap: 35px;
    padding: 40px 10% 30px 10%;
  }
  .gin__text {
    flex: 0 1 50%;
  }
  .gin__images {
    flex: 0 1 50%;
    order: -1;
  }
  .tonic {
    display: flex;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    gap: 35px;
    padding: 40px 10% 30px 10%;
  }
  .tonic__text {
    flex: 0 1 50%;
  }
  .tonic__images {
    flex: 0 1 50%;
  }
  .other {
    display: flex;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    gap: 35px;
    padding: 40px 10% 30px 10%;
  }
  .other__text {
    flex: 0 1 50%;
  }
  .other__images {
    flex: 0 1 50%;
  }
  .tapas {
    display: flex;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    gap: 35px;
    padding: 40px 10% 30px 10%;
  }
  .tapas__text {
    flex: 0 1 50%;
  }
  .tapas__images {
    flex: 0 1 50%;
    order: -1;
  }
}
.site__kafe {
  background-image: url(/images/background/background_site2.jpeg);
  background-repeat: no-repeat;
  background-position: top left;
  position: relative;
  text-align: justify;
}

.kafe {
  padding: 30px 5% 15px 5%;
}
.kafe__header {
  margin-top: 0;
  font-size: 22px;
}
.kafe__images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 150px);
  gap: 5px;
  padding-top: 10px;
}
.kafe__images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.kafe__image3 {
  grid-column: 1;
  grid-row: 2/4;
}
.kafe__image5 {
  grid-column: 2/4;
  grid-row: 2;
}

.brunch {
  padding: 30px 5% 15px 5%;
}
.brunch__header {
  margin-top: 0;
  font-size: 22px;
}
.brunch__images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px;
  gap: 5px;
  padding-top: 10px;
}
.brunch__images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.desserts {
  padding: 30px 5% 15px 5%;
}
.desserts__header {
  margin-top: 0;
  font-size: 22px;
}
.desserts__images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px 150px;
  gap: 5px;
  padding-top: 10px;
}
.desserts__images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.desserts__image4 {
  grid-column: 1/3;
}

.bistro {
  padding: 30px 5% 15px 5%;
}
.bistro__header {
  margin-top: 0;
  font-size: 22px;
}
.bistro__images {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 200px);
  gap: 5px;
  padding-top: 10px;
}
.bistro__images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

@media screen and (min-width: 500px) {
  body {
    font-size: 13px;
  }
  .kafe {
    display: flex;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    gap: 35px;
    padding: 40px 10% 30px 10%;
  }
  .kafe__text {
    flex: 0 1 50%;
  }
  .kafe__images {
    flex: 0 1 50%;
  }
  .brunch {
    display: flex;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    gap: 35px;
    padding: 40px 10% 30px 10%;
  }
  .brunch__text {
    flex: 0 1 50%;
  }
  .brunch__images {
    flex: 0 1 50%;
    order: -1;
  }
  .desserts {
    display: flex;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    gap: 35px;
    padding: 40px 10% 30px 10%;
  }
  .desserts__text {
    flex: 0 1 50%;
  }
  .desserts__images {
    flex: 0 1 50%;
    order: -1;
  }
  .bistro {
    display: flex;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    gap: 35px;
    padding: 40px 10% 30px 10%;
  }
  .bistro__text {
    flex: 0 1 50%;
  }
  .bistro__images {
    flex: 0 1 50%;
  }
}
.home {
  background-image: url(/images/background/background_site.jpeg);
  background-repeat: no-repeat;
  background-position: top left;
}
.home__header {
  text-align: center;
  padding-top: 30px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 22px;
}
.home__uvod-header {
  margin-top: 0;
}
.home__times {
  text-align: center;
  border: 1px solid rgb(237, 17, 138);
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 10px;
  margin: 0 auto 20px auto;
  border-radius: 10px;
}
.home__times--bold {
  font-weight: bold;
  margin: 2px;
}
.home__grid {
  padding: 30px 5% 15px 5%;
}
.home__picture {
  background-image: url(/images/background/background_header.jpg);
  height: 400px;
  background-repeat: no-repeat;
}
.home__picture2 {
  background-image: url(/images/gin/gin-tasting.avif);
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.home__uvod {
  text-align: justify;
}
.home__eventy {
  text-align: justify;
  padding-top: 20px;
}
.home__eventy-header {
  margin-top: 0;
}
.home__tasting {
  text-align: justify;
  padding-top: 10px;
  padding-bottom: 20px;
}
.home__tasting-header {
  margin-top: 0;
}
.home__tasting-text {
  margin-bottom: 0;
}

@media screen and (min-width: 500px) {
  .home__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    padding: 30px 10% 15px 10%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }
  .home__picture {
    background-image: url(/images/background/background_header.jpg);
    background-attachment: fixed;
    grid-row: 1/-1;
    grid-column: 1;
    height: auto;
  }
  .home__uvod {
    grid-row: 1;
    grid-column: 2;
    text-align: justify;
    padding-left: 20px;
    padding-top: 10px;
  }
  .home__eventy {
    grid-row: 2;
    grid-column: 2;
    text-align: justify;
    padding-left: 20px;
  }
  .home__tasting {
    grid-row: 3;
    grid-column: 2;
    text-align: justify;
    padding-left: 20px;
    padding-bottom: 10px;
  }
  .home__picture2 {
    display: none;
  }
  .home__times {
    margin-top: 30px;
  }
}
.home__icon img {
  height: 20px;
  position: absolute;
  right: 5%;
  top: 15px;
}
.home__icon img:active {
  transform: scale(1.2);
}

@media screen and (min-width: 500px) {
  .home__icon img {
    right: 10%;
  }
  .home__icon img:hover {
    transform: scale(1.2);
  }
}
@media screen and (min-width: 1400px) {
  .home__icon img {
    right: 130px;
  }
}
.listek {
  background-image: url(/images/background/background_site.jpeg);
  background-repeat: no-repeat;
  background-position: top left;
  padding: 30px 5% 15px 5%;
  position: relative;
}
.listek__gin, .listek__tonic, .listek__other, .listek__non-alcoholic, .listek__kafe, .listek__caj, .listek__cold, .listek__alcoholic, .listek__breakfast {
  width: 100%;
}
.listek__price {
  text-align: right;
}
.listek__bar {
  border: 1px solid rgb(237, 17, 138);
  padding: 0 20px;
  border-radius: 10px;
  margin-top: 30px;
}
.listek__title {
  margin-top: 0;
  text-align: center;
  font-size: 22px;
  margin-bottom: 30px;
}
.listek__kavarna {
  border: 1px solid rgb(54, 49, 131);
  padding: 0 20px;
  border-radius: 10px;
}

@media screen and (min-width: 850px) {
  .listek__flex {
    display: flex;
    justify-content: space-between;
  }
  .listek__bar {
    flex: 0 1 50%;
    margin-top: 0;
    margin-left: 30px;
  }
  .listek__kavarna {
    flex: 0 1 50%;
  }
}/*# sourceMappingURL=style.css.map */