html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-size: 12px;
}

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/images/background_header2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  padding-top: 60px;
  padding-right: 10%;
  padding-left: calc(10% - 37.5px);
  padding-bottom: 120px;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 100vh;
}
.header__logo {
  min-height: 60px;
  max-height: 100px;
  align-self: start;
}
.header__title {
  font-weight: 200;
  margin: 0;
  font-size: 25px;
  text-align: right;
  position: relative;
}
.header__title::after {
  content: "";
  position: absolute;
  left: calc(100% - 60px);
  display: inline-block;
  height: 1px;
  width: 60px;
  background: rgb(237, 17, 138);
  bottom: -8px;
}
.header__text {
  align-self: end;
}
.header__content {
  font-weight: 200;
  margin: 0;
  margin-top: 20px;
  font-size: 16px;
  text-align: right;
}

@media screen and (min-width: 500px) {
  .header {
    padding-left: calc(10% - 30px);
  }
  .header__logo {
    max-height: 125px;
  }
  .header__title {
    font-size: 35px;
  }
  .header__title::after {
    left: calc(100% - 80px);
    height: 1px;
    width: 80px;
  }
  .header__content {
    font-size: 20px;
  }
}
.menu {
  font-size: 11px;
  text-transform: uppercase;
}
.menu__list {
  display: flex;
  margin: 0;
  padding: 0 5%;
  justify-content: space-between;
  background-color: #141514;
}
.menu__item {
  padding: 10px 4px;
  list-style: none;
}
.menu__item a {
  text-decoration: none;
  color: white;
  padding: 10px 4px;
}
.menu__item a:active {
  background-color: rgb(237, 17, 138);
}

@media screen and (min-width: 500px) {
  .menu {
    font-size: 14px;
  }
  .menu__list {
    padding: 0 10%;
  }
  .menu__item {
    padding: 7.5px;
    list-style: none;
  }
  .menu__item a {
    text-decoration: none;
    color: white;
    padding: 7.5px;
  }
  .menu__item a:hover {
    background-color: rgb(237, 17, 138);
  }
}
@media screen and (min-width: 800px) {
  .menu {
    font-size: 18px;
  }
  .menu__item {
    padding: 10px 15px;
  }
  .menu__item a {
    padding: 10px 15px;
  }
}
.footer {
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(rgb(243, 243, 243), #636365);
  padding: 0 10%;
  color: white;
  font-weight: 200;
}
.footer__icon {
  height: 35px;
}
.footer__icon--spread + .footer__icon--spread {
  margin-left: 5%;
}
.footer__icons {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
}
.footer__icons :active {
  transform: scale(1.1);
}
.footer__credit {
  text-align: center;
  padding-bottom: 50px;
  font-size: 10px;
}

@media screen and (min-width: 500px) {
  .footer__icons :hover {
    transform: scale(1.1);
  }
  .footer__credit {
    font-size: 15px;
  }
}
.contact {
  padding: 30px 10%;
  background-color: rgb(243, 243, 243);
}
.contact__title {
  margin: 0;
  text-align: center;
}
.contact__first {
  display: flex;
  flex-direction: column;
}
.contact__opening {
  flex-basis: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.contact__opening-heading {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}
.contact__opening-day {
  padding-right: 15px;
}
.contact__location {
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.contact__location-heading {
  margin-top: 0;
  margin-bottom: 8px;
  text-align: center;
}/*# sourceMappingURL=style.css.map */