html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

// $color-primary: #000000;
$default-font: 'Montserrat', sans-serif;
$spacer-side: 10%;
$color-font: rgb(51,51,51);
$mobil-font-size: 12px;
// $color-background1: rgb(243,243,243);
// $color-background2: rgb(238,238,238);
$color-pink: rgb(237,17,138);
// $color-blue: rgb(46,166,222);
$color-violet: rgb(54,49,131);
// pozadi rgb(243,243,243)
// pozadí 2 rgb(238,238,238)
// pismo rgb(51,51,51)
// font-family: 'Montserrat', sans-serif;
// font-family: 'Pompiere', cursive;
// zluta #ffc72c
// šeda #636365

/* chtěla jsem ještě rozdělit na menší části, aby bylo přehlednější, mám v plánu dodělat*/


body {
    padding: 0;
    margin: 0;
    font-family: $default-font;
    line-height: 1.5;
    font-size: $mobil-font-size;
}

.header {
    background:
        linear-gradient(
          rgba(0, 0, 0, 0.8), 
          rgba(0, 0, 0, 0.8)
        ),
        url(/images/background/background_header2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    padding-top: 60px;
    padding-right: $spacer-side;
    padding-left: calc($spacer-side - 75px / 2);
    padding-bottom: 120px;
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 100vh;

    
    &__logo {
        min-height: 60px;
        max-height: 100px;
        align-self: start;
         
    }
    &__title {
        font-weight: 200;
        margin: 0;
        font-size: 25px;
        text-align: right;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: calc(100% - 60px);
            display: inline-block;
            height: 1px;
            width: 60px;
            background: rgb(237,17,138);
            bottom: -8px;
            
        }
    }
    &__text {
        align-self: end;
    }
    &__content {
        font-weight: 200;
        margin: 0;
        margin-top: 20px;
        font-size: 16px;
        text-align: right;
        color: #D5D7D5;
    }


}

@media screen and (min-width: 500px) {
    .header {
        padding-left: calc($spacer-side - 60px / 2);

        &__logo {
            max-height: 125px;
        }

        &__title {
            font-size: 35px;

    
            &::after {
            left: calc(100% - 80px);
            height: 1px;
            width: 80px;
            }
        }

        &__content {
            font-size: 20px;
        }

    }
}



.menu {
    font-size: 11px;
    text-transform: uppercase;
    
    &__list {
        display: flex;
        margin: 0;
        padding: 0 calc($spacer-side / 2);
        justify-content: space-between;
        background-color:#141514;  
        }
    

    &__item {
        padding: 10px 4px;
        list-style: none;
      
        & a {
            text-decoration: none;
            color: white;
            padding: 10px 4px;
    
            &:active {
                background-color: rgb(237,17,138);
            }
        }

    }
}

   
@media screen and (min-width: 500px) {
    .menu {
        font-size: 14px;
        
        &__list {
            padding: 0 $spacer-side;  
            }
    
        &__item {
            padding: 7.5px;
            list-style: none;
          
            & a {
                text-decoration: none;
                color: white;
                padding: 7.5px;
        
                &:hover {
                    background-color: rgb(237,17,138);
                }
            }
        }
    }
}

@media screen and (min-width: 800px) {
    .menu {
        font-size: 18px;

        &__item {
            padding: 10px 15px;
          
            & a {
                padding: 10px 15px;
            }
        }
    }
} 


.footer {
    font-family: $default-font;
    background-image: linear-gradient(#ffffff, #636365);
    padding: 0 $spacer-side;
    color: white;
    font-weight: 200;

    &__icon {
        height: 35px;  

        &--spread + .footer__icon--spread {
            margin-left: 5%;
        }
    }
    
    &__icons {
        text-align: center;
        padding-top: 50px;
        padding-bottom: 30px;
        :active {
            transform: scale(1.1);
        }
    }
    
    &__credit {
        text-align: center;
        padding-bottom: 50px;
        font-size: $mobil-font-size;
    
    }
}

@media screen and (min-width: 500px) {
    .footer {
        &__icons {
            :hover {
                transform: scale(1.1);
            }
        }
        &__credit {
            font-size: 15px;
        }
    }
}

.contact {
    
    background-image: url(/images/background/background_site2.jpeg);
    background-repeat: no-repeat;
    background-position: top left;
    padding: 30px $spacer-side;
    position: relative;
  
    
    &__title {
        margin: 0;
        text-align: center;
        font-size: 22px;
    }

    &__first {
        display: flex;
        flex-direction: column;
    }

    &__opening {
        flex-basis: auto;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-left: auto;
        margin-right: auto;

        &-heading {
            margin-top: 0;
            margin-bottom: 10px;
            text-align: center;
        }

        &-day {
            padding-right: 15px;
         }
    }

    &__location {
        margin-left: auto;
        margin-right: auto;

        &-heading {
            margin-top: 0;
            margin-bottom: 8px;
            text-align: center;
        }

        &-text {
            line-height: 1.2;
            text-align: center;
        }
    }
    
    &__form {
        width: 100%;
        max-width: 550px;
        margin-left: auto;
        margin-right: auto;
    }

    &__item-label {
        display: block;

        & + .contact__item-label {
            margin-top: 10px;
        }
    }

    &__reservation {
        padding: 30px $spacer-side;
    }

    &__form-item {
        display: block;
        font-size: $mobil-font-size;
        font-family: $default-font;
        margin-top: 5px;
        width: 100%;
       

        &--font {
            font-size: $mobil-font-size;
            font-family: $default-font;
        }
    }
    &__checkbox, .contact__check-label {
    margin-top: 20px;
    }

    &__button {
    display: block;
    margin-top: 25px;
    background-color: $color-violet;
    font-size: $mobil-font-size;
    font-family: $default-font;
    font-weight: 400;
    border-radius: 5px;
    border: none;
    padding: 5px 8px;
    color: white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    margin-left: auto;
    margin-right: auto;
    }
 }

 @media screen and (min-width: 500px) {
    .contact {
        &__first {
            flex-direction: row;
            align-items: center;
            padding-left: $spacer-side;
            padding-right: $spacer-side;
            max-width: 1400px;
        }

    }
 }

 .sentform {
    padding: 30px calc($spacer-side / 2);
    background-image: url(/images/background/background_site.jpeg);
    background-repeat: no-repeat;
    background-position: top left;
    text-align: center;

    &__heading {
        font-size: 22px;
    }
    &__grid {
        padding-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, auto);
        gap: 5px;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__photo3 {
        grid-row: 2/4;
        }
    &__photo6 {
        grid-row: 3;
        grid-column: 2;
    }
    &__button {
        text-decoration: none;
        color: white;
        border: 1px solid $color-font;
        padding: 5px 10px;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.5);
        font-size: $mobil-font-size;
    }
 }

 @media screen and (min-width: 500px) {
    .sentform {
        padding: 30px $spacer-side;
        font-size: 13px;
    
        &__grid {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 200px);
        }

        &__photo3 {
            grid-row: auto;
            }
        
        &__photo6 {
            grid-row: auto;
            grid-column: auto;
        }
     }
 }

 @media screen and (min-width: 800px) {
    .sentform {
        &__grid {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 300px);
        }
        
        &__photo3 {
            grid-row: 1 / 3;
            grid-column: 4;
            }
        &__photo6 {
            grid-row: 3;
            grid-column: 1 / 3;
            }
        &__photo2 {
            grid-row: 1;
            grid-column: 2 / 4;
            }
        &__photo9 {
            grid-row: 2;
            grid-column: 1;
            }
        }
}

.site__gin {
        background-image: url(/images/background/background_site.jpeg);
        background-repeat: no-repeat;
        background-position: top left;
        position: relative;
        text-align: justify;
    }

.gin {
    padding: 30px calc($spacer-side / 2) 15px calc($spacer-side / 2);
    
    &__header {
        margin-top: 0;
        font-size: 22px;
    }
    &__images {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 150px);
        gap: 5px;
        padding-top: 10px;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
        }
    }
    &__image2 {
        grid-column: 3;
        grid-row: 1 / 3;
    }
    
}

.tonic {
    padding: 15px calc($spacer-side / 2);
    
    &__header {
        margin-top: 0;
        font-size: 22px;
    }

    &__images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 250px 150px;
        gap: 5px;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
            
        }
    }

    &__image3 {
        grid-row: 2;
        grid-column: 1 / -1;
    }
    
}

.other {
    padding: 15px calc($spacer-side / 2);
    &__header {
        margin-top: 0;
        font-size: 22px;
    }

    &__images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 250px;
        gap: 5px;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
            
        }
    }
}

.tapas {
    padding: 30px calc($spacer-side / 2) 15px calc($spacer-side / 2);
    &__header {
        margin-top: 0;
        font-size: 22px;
    }

    &__images {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 200px);
        gap: 5px;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
            
        }
    }  
}

@media screen and (min-width: 500px) {
    .gin {
        display: flex;
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        gap: 35px;
        padding: 40px $spacer-side 30px $spacer-side;
        &__text {
            flex: 0 1 50%;
        }
        &__images {
            flex: 0 1 50%;
            order: -1;
        }
    }

    .tonic {
        display: flex;
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        gap: 35px;
        padding: 40px $spacer-side 30px $spacer-side;

        &__text {
            flex: 0 1 50%;
        }
        &__images {
            flex: 0 1 50%;
            
        }
    }

    .other {
        display: flex;
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        gap: 35px;
        padding: 40px $spacer-side 30px $spacer-side;
        &__text {
            flex: 0 1 50%;
        }
        &__images {
            flex: 0 1 50%;
           
        }
    }

    .tapas {
        display: flex;
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        gap: 35px;
        padding: 40px $spacer-side 30px $spacer-side;
        &__text {
            flex: 0 1 50%;
        }
        &__images {
            flex: 0 1 50%;
            order: -1;
        }
    }

}

.site__kafe {
    background-image: url(/images/background/background_site2.jpeg);
    background-repeat: no-repeat;
    background-position: top left;
    position: relative;
    text-align: justify;
}

.kafe {
    padding: 30px calc($spacer-side / 2) 15px calc($spacer-side / 2);
    &__header {
        margin-top: 0;
        font-size: 22px;
    }
    &__images {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 150px);
        gap: 5px;
        padding-top: 10px;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
        }
    }

    &__image3 {
        grid-column: 1;
        grid-row: 2 / 4;
    }

    &__image5 {
        grid-column: 2 / 4;
        grid-row: 2;
    }  
}   


    

.brunch {
    padding: 30px calc($spacer-side / 2) 15px calc($spacer-side / 2);
    &__header {
        margin-top: 0;
        font-size: 22px;
    }
    &__images {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 200px;
        gap: 5px;
        padding-top: 10px;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
        }
    }
}

.desserts {
    padding: 30px calc($spacer-side / 2) 15px calc($spacer-side / 2);
    &__header {
        margin-top: 0;
        font-size: 22px;
    }
    &__images {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 200px 150px;
        gap: 5px;
        padding-top: 10px;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
        }
    }
    &__image4 {
        grid-column: 1 / 3;
    }
}

.bistro {
    padding: 30px calc($spacer-side / 2) 15px calc($spacer-side / 2);
    &__header {
        margin-top: 0;
        font-size: 22px;
    }
    &__images {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 200px);
        gap: 5px;
        padding-top: 10px;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
        }
    }
}

@media screen and (min-width: 500px) {
    body {
        font-size: 13px;
    }
    
    .kafe {
        display: flex;
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        gap: 35px;
        padding: 40px $spacer-side 30px $spacer-side;
        &__text {
            flex: 0 1 50%;
        }
        &__images {
            flex: 0 1 50%;
        }
    }

    .brunch {
        display: flex;
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        gap: 35px;
        padding: 40px $spacer-side 30px $spacer-side;

        &__text {
            flex: 0 1 50%;
        }
        &__images {
            flex: 0 1 50%;
            order: -1;
        }
    }

    .desserts {
        display: flex;
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        gap: 35px;
        padding: 40px $spacer-side 30px $spacer-side;
        &__text {
            flex: 0 1 50%;
        }
        &__images {
            flex: 0 1 50%;
            order: -1;
        }
    }

    .bistro {
        display: flex;
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        gap: 35px;
        padding: 40px $spacer-side 30px $spacer-side;
        &__text {
            flex: 0 1 50%;
        }
        &__images {
            flex: 0 1 50%;
        }
    }

}

.home {
    background-image: url(/images/background/background_site.jpeg);
    background-repeat: no-repeat;
    background-position: top left;



    &__header {
        text-align: center;
        padding-top: 30px;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 22px;

    }

    &__uvod-header {
        margin-top: 0;
    }

    &__times {
        text-align: center;
        border: 1px solid $color-pink;
        max-width: fit-content;
        padding: 10px;
        margin: 0 auto 20px auto;
        border-radius: 10px;
        
        
        &--bold {
            font-weight: bold;
            margin: 2px;

        }
    }

    &__grid {
        padding: 30px calc($spacer-side / 2) 15px calc($spacer-side / 2);

    }

    &__picture {
        background-image: url(/images/background/background_header.jpg);
        // background-attachment: fixed;
        height: 400px;
        background-repeat: no-repeat;
        background-position: center;
        }


    

    &__uvod {
        text-align:justify;
 
    }

    &__eventy {
        text-align: justify;
        padding-top: 20px;

        &-header {
            margin-top: 0;
        }
    }

    &__tasting {
        text-align: justify;
        padding-top: 10px;
        padding-bottom: 20px;

        &-header {
            margin-top: 0;
        }

        &-text {
            margin-bottom: 0;
        }
    }


    
}

@media screen and (min-width: 500px) {
    .home {

    
        &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        padding: 30px $spacer-side 15px $spacer-side;
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
    
        }
    
        &__picture {
        background-attachment: fixed;
        grid-row: 1 / -1;
        grid-column: 1;
        height: auto;
        background-position: top left;
    
    
        }
    
        &__uvod {
            grid-row: 1;
            grid-column: 2;
            text-align:justify;
            padding-left: 20px;
            padding-top: 10px;
        }
    
        &__eventy {
            grid-row: 2;
            grid-column: 2;
            text-align: justify;
            padding-left: 20px;
        }
    
        &__tasting {
            grid-row: 3;
            grid-column: 2;
            text-align: justify;
            padding-left: 20px;
            padding-bottom: 10px;
           
        }


        &__times {
            margin-top: 30px;
        }
    
    
        
    }
}

.home__icon {
   
    & img {
        height: 20px;
        position: absolute;
        right: 5%;
        top: 15px;
        &:active {
            transform: scale(1.2);
        }
    
    }

}

@media screen and (min-width: 500px) {
    .home__icon img {
        right: 10%;
        &:hover {
            transform: scale(1.2);
        }
    }
}  

@media screen and (min-width: 1400px) {
    .home__icon img {
        right: 130px;
}
}

.listek {
    background-image: url(/images/background/background_site.jpeg);
    background-repeat: no-repeat;
    background-position: top left;
    padding: 30px calc($spacer-side / 2) 15px calc($spacer-side / 2);
    position: relative;

    &__gin, &__tonic, &__other, &__non-alcoholic, &__kafe, &__caj, &__cold, &__alcoholic, &__breakfast {
        width: 100%;
    }

    &__price {
        text-align: right;
    }

    &__bar {
        border: 1px solid $color-pink;
        padding: 0 20px;
        border-radius: 10px;
        margin-top: 30px;
    }
    &__title {
        margin-top: 0;
        text-align: center;
        font-size: 22px;
        margin-bottom: 30px;
    }
    &__kavarna {
        border: 1px solid $color-violet;
        padding: 0 20px;
        border-radius: 10px;
        
    }
}

@media screen and (min-width:850px) {
    .listek {
        &__flex {
            display: flex;
            
            justify-content: space-between;
        }
        &__bar {
            flex: 0 1 50%;
            margin-top: 0;
            margin-left: 30px;
        }
        &__kavarna {
            flex: 0 1 50%;
            
        }
    }
}


    









// &__first {
//     // display: grid;
//     // grid-template-columns: 5% auto 5% auto 5%;
//     // grid-template-rows: auto;
    
// }