<footer class="footer">
<!-- je možné zjednodušit o divy, pokud už tam nebudu nic přidávat -->
    <div class="footer__icons">
        <a class="footer__icon--spread" href="https://instagram.com"><img class="footer__icon" src="/images/icons/instragram.svg" alt="instagram icon"></a>
        <a class="footer__icon--spread" href="https://facebook.com"><img class="footer__icon" src="/images/icons/facebook.svg" alt="facebook icon"></a>
        <a class="footer__icon--spread" href="https://twitter.com"><img class="footer__icon" src="/images/icons/twitter.svg" alt="twitter icon"></a>
        <a class="footer__icon--spread" href="https://pinterest.com"><img class="footer__icon" src="/images/icons/pinterest.svg" alt="pinterest icon"></a>

    </div>

    <div class="footer__credit">
        <p>©2022, Dominika Petrová, Czechitas.</p>
    </div>

</footer>