<header class="header">
    
        <img class="header__logo" src="/images/logo_white3.svg" alt="logo">
        <div class="header__text">
                <h1 class="header__title">Ráno byznys,<br> večer párty</h1>
                <p class="header__content"> {{ header }} </p>
        </div>
    
</header>
