<nav class="menu">
    <ul class="menu__list">
        <li class="menu__item"><a href="#">Radši kafe</a></li>
        <li class="menu__item"><a href="#">Radši gin</a></li>
        <li class="menu__item"><a href="#">Menu</a></li>
        <li class="menu__item"><a href="#">Kontakty</a></li>

    </ul>
</nav>